@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dodgerblue: dodgerblue;
$chartreuse: chartreuse;
$pink: #FA7C91;
$brown: #8a7058;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $brown;
$secondary: $chartreuse;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$primary-invert: $beige-lighter ;
$secondary-invert: $beige-lighter ;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "spacing.scss";
@import "search.scss";
@import "card.scss";

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.90rem !default
$size-8: 0.80rem !default
$size-9: 0.70rem !default
$size-10: 0.60rem !default
$size-11: 0.50rem !default

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9 $size-10 $size-11 !default

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/box.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/form.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/components/tabs.sass";
@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/footer.sass";
@import "./node_modules/bulma/sass/layout/section.sass";
@import "./node_modules/bulma/sass/grid/columns.sass";
@import "./node_modules/bulma/sass/components/modal.sass";
@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma/sass/components/pagination.sass";