{% extends 'destination/destination_base.html.twig' %}

{% block body %}
	<div class="columns">
		<div class="column">
			{% set pulledright %}
				{% transchoice pagination.getTotalItemCount %}{0} Aucune destination|{1} 1 destination|]1,Inf] %count% destinations{% endtranschoice %}
			{% endset %}
			{% include 'site/includes/barreTitre.html.twig' with {'title': 'Destinations ' ~ destination.name, 'pulledRight': pulledright} %}
			<div class="columns is-multiline is-mobile">
				{% if pagination.pageCount > 1 %}
					<div class="column is-full">
						<div class="navigation">
							{{ knp_pagination_render(pagination) }}
						</div>
					</div>
				{% endif %}
				<div class="column is-full">
					<ul>
					{% for child in pagination %}
						<li><a href="{{ path('destination_list', {'slug': child.slug}) }}">{{ child.name }}</a></li>
					{% endfor %}
					</ul>
				</div>
				{% if pagination.pageCount > 1 %}
					<div class="column is-full">
						<div class="navigation">
							{{ knp_pagination_render(pagination) }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
