<div class="columns">
    <div class="column is-full">
        <div class="has-background-primary has-text-white p-b-xs p-t-xs p-l-sm p-r-sm">
            {% if pulledRight is defined %}
                <span class="is-pulled-right">{{ pulledRight }}</span>
            {% endif %}
            <h1>{{ title }}</h1>
        </div>
    </div>
</div>
